<div class="card m-2" id="comments-new">
    <div class="card-body">
        <!-- 댓글 작성 폼 -->
        <form action="/articles/comment" method="post">
            <!-- 닉네임 입력 -->
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control" name="nickname">
            </div>
            <!-- 댓글 본문 입력 -->
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea type="text" class="form-control" rows="3" name="body"></textarea>
            </div>
            <!-- 히든 인풋 -->
            {{#article}}
                <input type="text" name="articleId" value="{{id}}">
            {{/article}}
            <!-- 전송 버튼 -->
            <button type="submit" class="btn btn-primary">댓글 작성2</button>
        </form>
    </div>
</div>
